/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: #473034;
    font-family: 'Fira Mono';
    font-size: 14px;
}

/* Each module */
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    background-color: #FF99C8;
    color: black;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#battery.warning {
    color: orange;
    font-weight: bold;
}

#battery.critical {
    color: red;
    font-weight: bold;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
    font-weight: bold;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    border-radius: 50%;
}

#cpu {
  /* No styles */
    background-color: #FCC5DC;
    color: black;
}

#cpu.warning {
    color: orange;
    font-weight: bold;
}

#cpu.critical {
    color: red;
    font-weight: bold;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: #FBDBE6;
    color: black;
}

#memory.warning {
    color: orange;
    font-weight: bold;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    font-weight: bold;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    margin-left: 10px;
}

#network {
    /* No styles */
    background-color: #F9F1F0;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#network.disconnected {
/*    color: orange;*/
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#temperature {
    /* No styles */
    background-color: #FEAFD2;
    color: black;
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
    padding-left: 5px;
}

#workspaces button {
    border: 2px solid white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#workspaces button.focused {
    background-color: #FF99C8;
}

#workspaces button.urgent {
    border-color: #FF99C8;
    color: #FF99C8;
}